<%= form_for @website, :class => 'form-inline' do |f| %>
  
  <p class="form-spacer"></p>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, :class =>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :chunks %>
    <%= f.text_area :chunks, :size => "25x5", :class =>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :meta %>
    <%= f.text_field :meta, :class =>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, :class =>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :icons %>
    <%= f.text_field :icons, :class =>'form-control' %>
  </div>
  
  <%= f.submit :class => 'btn btn-primary' %>
  
<% end %>