<li><%= link_to('New Website', 'websites/new') %></li>
<li><%= link_to('Check all for updates', 'websites/upall') %></li>

<h2>All Websites</h2>

<% @websites.each do |web| %>
  <ul class=<%="#{web.id}"%>>
    <li><%= "#{web.name}" %></li>
    <li><%= link_to('Edit', "websites/#{web.id}/edit") %>
    <li><%= link_to('Update Check', "websites/#{web.id}/upmaker") %></li>
    <li><%= link_to('Delete', web, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %></li>
  </ul>
<% end %>