= form_for @pie do |f|
  %p
    = f.label :name
    = f.text_field :name

  %p
    = f.label :description
    = f.text_area :description, :size => "20x30"

  - @genres.each do |gen|
    %h2= gen.capitalize
    - webs = @websites.select { 
        |web| web.meta.include? gen 
      }
    - webs.each do |web|
      %p
        = f.label web.name
        = f.check_box :name
  %p
    = f.submit