<p class="form-spacer"></p>
<li><%= link_to('New Manual Update', 'updates/new') %></li>

<h2>All Updates</h2>

<% @updates.each do |ups| %>
  <ul class=<%="#{ups.id}"%>>
    <li><%= "#{ups.title}" %></li>
    <li><%= link_to('Edit', "/updates/#{ups.id}/edit") %>
    <li><%= link_to('Delete', ups, :method => 'delete', :data => {:confirm => 'Are you sure?'}) %></li>
  </ul>
<% end %>
